<div class="input-container">
    <h2>Master component</h2>
    <input type="text" name="child" [(ngModel)]="childInput" placeholder="enter name"/>
</div>
<app-child-component [childData]="childInput"></app-child-component>
<hr>
<app-setter-component [name]="childInput"></app-setter-component>
<hr>
<div class="vote-container">
    <h4>Vote results</h4>
    <h5>UpVotes: {{agreed}}</h5> <h5>DownVotes: {{disagreed}}</h5>
    <app-vote-taker *ngFor="let voter of voterList" [voterName]="voter" (onVoted)="onVoted($event)"></app-vote-taker>
</div>