<div class="input-container">
    <h2>Master component</h2>
    <input type="text" name="child" [(ngModel)]="childInput" placeholder="enter name"/>
</div>
<app-child-component [childData]="childInput"></app-child-component>
<hr>
<app-setter-component [name]="childInput"></app-setter-component>
<hr>
<div class="vote-container">
    <h4>Vote results</h4>
    <h5>UpVotes: {{agreed}}</h5> <h5>DownVotes: {{disagreed}}</h5>
    <app-vote-taker *ngFor="let voter of voterList" [voterName]="voter" (onVoted)="onVoted($event)"></app-vote-taker>
</div>
<div class="counter-container">
    <h3>Counter</h3>
    <button (click)="counter.increaseCount()">Add</button>
    <button (click)="counter.decreaseCount()">Remove</button>
    <button (click)="counter.resetCount()">Reset</button>
    <h5>Total Value: {{counter.counterValue}}</h5>
    <app-counter #counter></app-counter>
</div>
<div class="share-container">
    <h4>Share counter</h4>
    <input type="text" name="tag" [(ngModel)]="tagInput" placeholder="enter tag" />
    <button (click)="share()">Share</button>
    <app-share-counter (onTagName)="showTagName($event)"></app-share-counter>
</div>
<div class="mission-container">
    <br>
    <input type="text" name="missionName" [(ngModel)]="missionName" placeholder="Enter mission name" />
    <button (click)="addMission(missionName)">Add mission!</button>
    <app-mission-details></app-mission-details>
    <hr>
    <h2>Launched Missions</h2>
    <ol>
        <li *ngFor="let launchedMission of launchedMissions">
            <h3>{{launchedMission}}</h3>
        </li>
    </ol>
</div>