.input-container {
    border: 4px dashed #03CB7B;
    padding-bottom: 14px;
    padding-left: 4px;
}
.counter-container {
    border: 4px dotted #6638C5;
    margin-top: 4px;
}
.share-container {
    border: 4px solid #147D94;
    margin-top: 14px;
    padding-left: 4px;
}